<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-paw" style="color: #000000;"></i> Cat Paw's</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="/">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/contact">Contact Us</a>
          </li>
          <% if (req.user && req.user.isAdmin && req.isAuthenticated()) { %>
          <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/product/manage">Manage Product</a></li>
              <li><a class="dropdown-item" href="/admin/ordermanagement">Manage Order</a></li>
              <li><a class="dropdown-item" href="/admin/dashboard">Dashboard</a></li>
            </ul>
          </li>
          <% } %>
        </ul>
        <span class="user navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if (req.isAuthenticated()) { %>
            <a class="nav-link text-dark" href="/order/ordertrack"><i class="fa-solid fa-box-open" style="color: #000000;"></i> Your Order</a>
            <li class="nav-item dropdown">
              <a class="nav-link text-dark " href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="showUserDropdown()">
                <i class="fa-solid fa-user" style="color: #000000;"></i>
              </a>
              <ul class="dropdown-menu" id="userDropdown" aria-labelledby="navbarDropdownUser">
                <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
              </ul>
            </li>
            <% } else { %>
              <a class="nav-link text-dark" href="/user/login">Login</a>
              <a class="nav-link text-dark" href="/user/register">Register</a>
            <% } %>
            <%
            function calculateTotalQuantity(cart) {
              const uniqueProductIds = new Set();
              let totalQuantity = 0;

              cart.forEach(item => {
                  const productId = item.product._id.toString();
                  if (!uniqueProductIds.has(productId)) {
                      uniqueProductIds.add(productId);
                      totalQuantity += 1;
                  }
              });

              return totalQuantity;
            }
            %>
            <a class="nav-link text-dark position-relative cart-icon" href="/cart/shopping">
              <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
              <% if (req.session.cart && req.session.cart.length > 0) { %>
                <span class="badge bg-secondary rounded-pill position-absolute top-0 start-100 translate-middle">
                  <%= calculateTotalQuantity(req.session.cart) %>
                </span>
              <% } %>
            </a>

          </ul>
        </span>
      </div>
    </div>
  </nav>