<header class="header py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <div class="lead-text">
            <h1 class="display-4 fw-bolder">Cat Paw's</h1>
                <p class="lead fw-normal text-dark-50 mb-0">Make your cat happy, like your cat make you happy.</p>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cattime.com/wp-content/uploads/sites/14/2018/07/dirty-cats-paws-1.jpg?w=760" alt="..."></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light"><i class="fa-solid fa-paw" style="color: #000000;"></i> Cat Paw's Company</h1>
            <p>
                At Cat Paw's, we are a team passionate about the world of cats, and they are everything we do. 
            </p>
            <p>
                We firmly believe that all of you who love cats want the best health and happiness for your furry friends.
            </p>
            <p>
                At Cat Paw's we don't just sell products, we are part of a community that loves cats and wants to play our
                part in making your cat and your family happy. Thank you for choosing Cat Paw's to be a part of your cat's care!
            </p>
            <img src="https://static.vecteezy.com/system/resources/previews/020/988/892/non_2x/dog-paw-print-wave-line-cute-cat-pawprint-pet-foot-trail-black-dog-step-silhouette-simple-doodle-drawing-illustration-isolated-on-white-background-vector.jpg" alt="cat paw cute" style="max-width: 100%; max-height: 100vh;">
        </div>
    </div>
    <h1 class="bg-dark text-light p-3 rounded"><i class="fa-solid fa-people-group" style="color: #ffffff;"></i>  Our Teams</h1>
    <div class="row gx-4 gx-lg-5">

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="https://img.freepik.com/free-vector/young-woman-white_25030-39546.jpg?w=996&t=st=1700470594~exp=1700471194~hmac=bafbceb858000dbc24fdd52f6e96e33489093a03abce80d3d4eb4d14c38a6239" class="card-img-top" alt="Card One Image">
                <div class="card-body">
                    <h2 class="card-title">Ms.  Tami Myranda</h2>
                    <p class="card-text"><strong><i class="fa-solid fa-user-tie" style="color: #000000;"></i> Pet Product Specialist</strong>
                    <p>Responsibility for researching and developing products related to cat health and entertainment.
                        Experience in testing and giving advice on the use of various products to meet the needs of customers and cats.
                        Understanding cat tendencies and behavior.
                    </p>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="https://img.freepik.com/free-vector/woman-working-home_23-2148500953.jpg?w=996&t=st=1700469605~exp=1700470205~hmac=2fbf71dfb047e3eedc52bf70f351320e59a0e66ea57c697f2c952c2e287a3d91" class="card-img-top" alt="Card Two Image">
                <div class="card-body">
                    <h2 class="card-title">Ms. Alice Liana</h2>
                    <p class="card-text"><strong><i class="fa-solid fa-user-tie" style="color: #000000;"></i> Marketing Coordinator</strong>
                    <p>
                        Plan and execute marketing activities to promote products and services related to cat health and entertainment.
                        Create marketing content that is interesting and relevant to the needs of your target audience.
                        Organize activities and campaigns that promote sales and build a following.
                    </p>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="https://img.freepik.com/premium-vector/business-man-face-glasses-smart-businessman-eyeglasses-avatar-entrepreneur-ceo-head-portrait-manager-spectacles-circle-flat-vector-illustration-isolated-white-background_633472-974.jpg" class="card-img-top" alt="Card Three Image">
                <div class="card-body">
                    <h2 class="card-title">Mr. Liam Lee</h2>
                    <p class="card-text"><strong><i class="fa-solid fa-user-tie" style="color: #000000;"></i> Customer Support Specialist</strong>
                    <p>
                        Provide customer service and provide advice on products and services related to cat care.
                        Answer customer questions and solve problems online and offline.
                        Collect and forward customer complaints or feedback to the product and marketing teams.
                    </p>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>