<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <h1 class="text-center mb-4">Contact Us</h1>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <strong><i class="fa-solid fa-envelope" style="color: #000000;"></i> Email:</strong> catpaws@company.com
                                    </li>
                                    <li class="mb-3">
                                        <strong><i class="fa-solid fa-phone" style="color: #000000;"></i> Tel:</strong> 079-9999999
                                    </li>
                                    <li>
                                        <strong><i class="fa-solid fa-map-location-dot" style="color: #000000;"></i> Address:</strong> 1234 Soi Happy Lively Road, Phuket, Thailand 83000
                                    </li>
                                </ul>
                                <img src="https://i.pinimg.com/1200x/53/f2/2a/53f22a995ff5ce3258695cba1b0a6cbd.jpg" alt="" class="img-fluid float-start">
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://unblast.com/wp-content/uploads/2020/09/Contact-Us-Vector-Illustration-Part-02-1.jpg" class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
